<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{ stockExchange.upper() }} | {{ companyCode.upper() }}</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/charts.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}">{{ companyCode.upper() }} Dashboard</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/research_and_data">Research and Data</a></li>
                    <li class="active"><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/charts">Charts</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/historical_prices">Historical Prices</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/technical_analysis">Technical Analysis</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/company_info">Company Info</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/stock_exchanges">Stock Exchanges</a> > <a href="/stock_exchanges/{{ stockExchange }}">{{ stockExchange }}</a> > <a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}">{{ companyName }}</a> > Charts</p>
            </div>
            
            <div class="full-window">
                
                <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
                <script type='text/javascript'>
                  google.charts.load('current', {'packages':['annotatedtimeline']});
                  
                  google.charts.setOnLoadCallback(drawChart);
                  
                  function drawChart() {
                    var data = new google.visualization.DataTable();
                    
                    data.addColumn('date', 'Date');
                    data.addColumn('number', '{{ companyName }}');
                    //data.addColumn('string', 'title1');
                    //data.addColumn('string', 'text1');
                    
                    data.addRows([
                      {% for row in chartData %}
                        [new Date({{ row[0] }},  {{ row[1] }}, {{ row[2] }}), {{ row[3] }}],
                      {% endfor %}                      
                      {% for row in liveChartData %}
                        [new Date({{ row[0] }},  {{ row[1] }}, {{ row[2] }}, {{ row[3] }}, {{ row[4] }}), {{ row[5] }}],
                      {% endfor %}
                    ]);
                    
                    var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
                    
                    chart.draw(data, {displayAnnotations: false});
                  }
                </script>
                
                <div id='chart_div' style='width: 970px; height: 400px;'></div>
                
            </div>
            
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>








<!--



<div class="content-main">
                <div class="full-window">
                    
                    <script type="text/javascript" src="{{ url_for('static', filename='js/humble/envision.min.js') }}"></script>
                    <script type="text/javascript" src="{{ url_for('static', filename='js/humble/envision.min.css') }}"></script>
                    <script>
                    
                        Event.observe(document, 'dom:loaded', function() {
    
                            prettyPrint();
                            
                            HumbleFinance.trackFormatter = function (obj) {
                                
                                var x = Math.floor(obj.x);
                                var data = jsonData[x];
                                var text = data.date + " Price: " + data.close + " Vol: " + data.volume;
                                
                                return text;
                            };
                            
                            HumbleFinance.yTickFormatter = function (n) {
                                
                                if (n == this.axes.y.max) {
                                    return false;
                                }
                                
                                return '$'+n;
                            };
                            
                            HumbleFinance.xTickFormatter = function (n) { 
                                
                                if (n == 0) {
                                    return false;
                                }
                                
                                var date = jsonData[n].date;
                                date = date.split(' ');
                                date = date[2];
                                
                                return date; 
                            }
                            
                            HumbleFinance.init('finance', priceData, volumeData, summaryData);
                            HumbleFinance.setFlags(flagData); 
                            
                            var xaxis = HumbleFinance.graphs.summary.axes.x;
                            var prevSelection = HumbleFinance.graphs.summary.prevSelection;
                            var xmin = xaxis.p2d(prevSelection.first.x);
                            var xmax = xaxis.p2d(prevSelection.second.x);
                            
                            $('dateRange').update(jsonData[xmin].date + ' - ' + jsonData[xmax].date);
                            
                            Event.observe(HumbleFinance.containers.summary, 'flotr:select', function (e) {
                                
                                var area = e.memo[0];
                                xmin = Math.floor(area.x1);
                                xmax = Math.ceil(area.x2);
                                
                                var date1 = jsonData[xmin].date;
                                var date2 = jsonData[xmax].date;
                                
                                $('dateRange').update(jsonData[xmin].date + ' - ' + jsonData[xmax].date);
                            });
                        });
                    
                    </script>
                
                    <div id="finance">
                      <div id="labels">
                        <div id="financeTitle">NASDAQ:GOOG</div>
                        <div id="time">
                          <a onclick="HumbleFinance.zoom(5);">1w</a>
                          <a onclick="HumbleFinance.zoom(21);">1m</a>
                          <a onclick="HumbleFinance.zoom(65);">3m</a>
                          <a onclick="HumbleFinance.zoom(127);">6m</a>
                          <a onclick="HumbleFinance.zoom(254);">1y</a>
                          <a onclick="HumbleFinance.zoom(1265);">5y</a>
                        </div>
                        <div id="dateRange"></div>
                      </div>
                    </div>
                
                </div>
            </div>




-->