<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{ stockExchange.upper() }} | {{ companyCode.upper() }}</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}">{{ companyCode.upper() }} Dashboard</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/research_and_data">Research and Data</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/charts">Charts</a></li>
                    <li class="active"><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/historical_prices">Historical Prices</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/technical_analysis">Technical Analysis</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/company_info">Company Info</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/stock_exchanges">Stock Exchanges</a> > <a href="/stock_exchanges/{{ stockExchange }}">{{ stockExchange }}</a> > <a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}">{{ companyName }}</a> > Historical Prices</p>
            </div>
            
            <div class="content-main">
                <div class="main-window">
                    <h1>Historical Prices: {{ companyCode.upper() }}</h1>

                    <center><table>
                        <tr>
                            <th>Date</th>
                            <th>Open</th>
                            <th>High</th>
                            <th>Low</th>
                            <th>Close</th>
                            <th>Volume</th>
                            <!-- <th>Adj. Close</th> -->
                        </tr>
                        {% for row in historicalCompanyData %}
                        <tr>                          
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                        </tr>
                        {% endfor %}
                    </table></center>
                </div>
            </div>
            
            <div class="content-side">    
                <div class="side-window">
                
                </div>
            </div>
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>