<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{ stockExchange.upper() }} | {{ companyCode.upper() }}</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li class="active"><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}">{{ companyCode.upper() }} Dashboard</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/research_and_data">Research and Data</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/charts">Charts</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/historical_prices">Historical Prices</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/technical_analysis">Technical Analysis</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/company_info">Company Info</a></li>
                     
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/stock_exchanges">Stock Exchanges</a> > <a href="/stock_exchanges/{{ stockExchange }}">{{ stockExchange }}</a> > {{ companyName }}</p>
            </div>
            
            <div class="content-main">
                <div class="main-window">
                    <h2>{{ companyName }} ({{ companyCode.upper() }})</h1>
                    <h3>{{ currentPrice }}</h3>
                    
                    
                    
                    <table style="width:100px; float:left"><tr style="color:{{ color }};">
                        {% if changeValue > 0 %}
                            <td style="padding: 0px; margin: 0px;"><div class="arrow-up" style="margin-bottom: 2px;"></div></td>
                        {% elif changeValue < 0 %}
                            <td style="padding: 0px; margin: 0px;"><div class="arrow-down" style="margin-bottom: 2px;"></div></td>
                        {% endif %}
                            <td style="padding: 0px; margin: 0px;">{{ changeValue }}</td>
                            <td style="padding: 0px; margin: 0px;">({{ percentageChange }}%)</td>
                    </tr></table><br><br>
                    
                   
                    <script type="text/javascript">
                        function CheckPortfolios(val){
                            var element=document.getElementById('portfolio');
                            if(val=='new_portfolio')
                                element.style.display='inline';
                            else  
                                element.style.display='none';
                        }
                        
                        function CheckWatchlist(val){
                            var element=document.getElementById('watchlist');
                            if(val=='new_watchlist')
                                element.style.display='inline';
                            else  
                                element.style.display='none';
                        }
                    </script> 
					
                    
                    {% if session.logged_in %}
                    <form action="{{ url_for('portfolio', username = session.username) }}" method="POST">
                        <input type="hidden" name="form" value="addCompany"/>
                        <input type="hidden" name="previousURL" value="{{ request.path }}"/>
                        <input type="hidden" name="stockExchangeID" value="{{ stockExchangeID }}"/>
                        <input type="hidden" name="companyID" value="{{ companyID }}"/>
                        
                        <input type="number" name="units" min="0" step="1" style="width:100px" placeholder="Units" required/>
                        
						<select name="portfolio" onchange='CheckPortfolios(this.value);' required>
							<option selected disabled hidden value="">Pick a Portfolio</option>
                            <option value="new_portfolio">New Portfolio</option>
                        {% for portfolio in portfolios %}
                            <option value="{{ portfolio[0] }}">{{ portfolio[1] }}</option>
                        {% endfor %}
                        </select>
                        <input type="text" name="new_portfolio" id="portfolio" placeholder="Enter New Portfolio Name" style='display:none;'/>
                        <input type="submit" value="Add to Portfolio">
                    </form>
                    <br>
                    <form action="{{ url_for('watchlists', username = session.username) }}" method="POST">
                        <input type="hidden" name="form" value="addCompany"/>
                        <input type="hidden" name="previousURL" value="{{ request.path }}"/>
                        <input type="hidden" name="stockExchangeID" value="{{ stockExchangeID }}"/>
                        <input type="hidden" name="companyID" value="{{ companyID }}"/>
                                                
						<select name="watchlist" onchange='CheckWatchlist(this.value);'>
							<option selected disabled hidden>Pick a Watchlist</option>
                            <option value="new_watchlist">New Watchlist</option>
                        {% for watchlist in watchlists %}
                            <option value="{{ watchlist[0] }}">{{ watchlist[1] }}</option>
                        {% endfor %}
                        </select>
                        <input type="text" name="new_watchlist" id="watchlist" placeholder="Enter New Watchlist Name" style='display:none;'/>
                        <input type="submit" value="Add to Watchlist">
                    </form>
                    {% else %}
                        <button onclick="window.location='{{ url_for('login') }}';">Add to Portfolio</button><br><br>
                        <button onclick="window.location='{{ url_for('login') }}';">Add to Watchlist</button>
                    {% endif %}
					
                </div>
            
            </div>
            
            <div class="content-side">
                <div class="side-window">
                    <div class="company_search">
                        <h2>{{ stockExchange.upper() }} Company Finder</h2>
                        <form action = "{{ url_for('company_search') }}" method="POST">
                            <input type="hidden" name="stockExchange" value="{{ stockExchange }}"/>
                            <input type="text" name="companyCode" placeholder="Search Companies">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="full-window">
            
            <script src="https://code.highcharts.com/stock/highstock.js"></script>
            <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
            <script>
                $(function () {
                    $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=aapl-c.json&callback=?', function (data) {

                        // Create the chart
                        Highcharts.stockChart('container', {


                            rangeSelector: {
                                selected: 0
                            },

                            //title: {
                            //    text: 'AAPL Stock Price'
                            //},

                            series: [{
                                name: '{{ companyCode }}',
                                data: data,
                                type: 'area',
                                threshold: null,
                                tooltip: {
                                    valueDecimals: 2
                                },
                                fillColor: {
                                    linearGradient: {
                                        x1: 0,
                                        y1: 0,
                                        x2: 0,
                                        y2: 1
                                    },
                                    stops: [
                                        [0, Highcharts.getOptions().colors[0]],
                                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                    ]
                                }
                            }]
                        });
                    });
                });
            </script>

            <div id="container" style="height: 400px; "></div>
        </div>
        
        {% include 'common/footer.html' %}
    </body>
</html>