<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{ stockExchange.upper() }} | {{ companyCode.upper() }}</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}">{{ companyCode.upper() }} Dashboard</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/research_and_data">Research and Data</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/charts">Charts</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/historical_prices">Historical Prices</a></li>
                    <li class="active"><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/technical_analysis">Technical Analysis</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}/company_info">Company Info</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/stock_exchanges">Stock Exchanges</a> > <a href="/stock_exchanges/{{ stockExchange }}">{{ stockExchange }}</a> > <a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ companyCode.upper() }}">{{ companyName }}</a> > Technical Analysis</p>
            </div>
            
            <div class="content-main">
                <div class="main-window">
                    <h1>Company: {{ companyCode.upper() }}</h1>
                </div>
            </div>
            
            <div class="content-side">
                <div class="side-window">
                    <div class="company_search">
                        <h2>{{ stockExchange.upper() }} Company Finder</h2>
                        <form action = "{{ url_for('company_search') }}" method="POST">
                            <input type="hidden" name="stockExchange" value="{{ stockExchange }}"/>
                            <input type="text" name="companyCode" placeholder="Search Companies">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>