<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>
            {% if stockExchange %}
                Investorgator | {{ stockExchange.upper() }}
            {% else %}
                Investorgator
            {% endif %}
        </title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li class="active"><a href="/stock_exchanges/{{ stockExchange.upper() }}/indicies/{{ indexCode }}">{{ indexName }} Dashboard</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/indicies/{{ indexCode }}/charts">Charts</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/indicies/{{ indexCode }}/historical_prices">Historical Prices</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/stock_exchanges">Stock Exchanges</a> > <a href="/stock_exchanges/{{ stockExchange.upper() }}">{{ stockExchange.upper() }}</a> > <a href="/stock_exchanges/ASX/indicies">Indicies</a> > {{ indexName }}</p>
            </div>
            
            <div class="content-main">
                <div class="main-window">
                    <h2>{{ indexName }} ({{ indexCode.upper() }})</h1>
                    <h3>{{ currentPrice }}</h3>
                    
                    <table style="width:100px; float:left"><tr style="color:{{ color }};">
                        {% if changeValue > 0 %}
                            <td style="padding: 0px; margin: 0px;"><div class="arrow-up" style="margin-bottom: 2px;"></div></td>
                        {% elif changeValue < 0 %}
                            <td style="padding: 0px; margin: 0px;"><div class="arrow-down" style="margin-bottom: 2px;"></div></td>
                        {% endif %}
                            <td style="padding: 0px; margin: 0px;">{{ changeValue }}</td>
                            <td style="padding: 0px; margin: 0px;">({{ percentageChange }}%)</td>
                    </tr></table><br><br>
                </div>
            </div>
            
            <div class="content-side">
                <div class="side-window">
                    <div class="company_search">
                        <h2>{{ stockExchange.upper() }} Company Finder</h2>
                        <form action = "{{ url_for('company_search') }}" method="POST">
                            <input type="hidden" name="stockExchange" value="{{ stockExchange.upper() }}"/>
                            <input type="text" name="companyCode" placeholder="Search Companies">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>