<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>
            {% if stockExchange %}
                Investorgator | {{ stockExchange.upper() }}
            {% else %}
                Investorgator
            {% endif %}
        </title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/indicies/{{ indexCode }}">{{ indexName }} Dashboard</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/indicies/{{ indexCode }}/charts">Charts</a></li>
                    <li class="active"><a href="/stock_exchanges/{{ stockExchange.upper() }}/indicies/{{ indexCode }}/historical_prices">Historical Prices</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/stock_exchanges">Stock Exchanges</a> > <a href="/stock_exchanges/{{ stockExchange.upper() }}">{{ stockExchange.upper() }}</a> > <a href="/stock_exchanges/ASX/indicies">Indicies</a> > <a href="/stock_exchanges/ASX/indicies/{{ indexCode }}">{{ indexName }}</a> > Historical Prices</p>
            </div>
            
            <div class="content-main">
                <div class="full-window">
                    <center><table>
                        <tr>
                            <th>Date</th>
                            <th>Open</th>
                            <th>High</th>
                            <th>Low</th>
                            <th>Close</th>
                            <th>Adjusted Close</th>
                        </tr>
                        {% for row in historicalIndexData %}
                        <tr>
                            {% for item in row %}
                            <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table></center>
                </div>
            </div>
            

            
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>