<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>
            {% if stockExchange %}
                Investorgator | {{ stockExchange.upper() }}
            {% else %}
                Investorgator
            {% endif %}
        </title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/indicies/{{ indexCode }}">{{ indexName }} Dashboard</a></li>
                    <li class="active"><a href="/stock_exchanges/{{ stockExchange.upper() }}/indicies/{{ indexCode }}/charts">Charts</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/indicies/{{ indexCode }}/historical_prices">Historical Prices</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/stock_exchanges">Stock Exchanges</a> > <a href="/stock_exchanges/{{ stockExchange.upper() }}">{{ stockExchange.upper() }}</a> > <a href="/stock_exchanges/ASX/indicies">Indicies</a> > <a href="/stock_exchanges/ASX/indicies/{{ indexCode }}">{{ indexName }}</a> > Charts</p>
            </div>
            
            <div class="content-main">
                <div class="full-window">
                
                <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
                <script type='text/javascript'>
                  google.charts.load('current', {'packages':['annotatedtimeline']});
                  
                  google.charts.setOnLoadCallback(drawChart);
                  
                  function drawChart() {
                    var data = new google.visualization.DataTable();
                    
                    data.addColumn('date', 'Date');
                    data.addColumn('number', '{{ companyName }}');
                    //data.addColumn('string', 'title1');
                    //data.addColumn('string', 'text1');
                    
                    data.addRows([
                      {% for row in chartData %}
                        [new Date({{ row[0] }},  {{ row[1] }}, {{ row[2] }}), {{ row[3] }}],
                      {% endfor %}                      
                    ]);
                    
                    var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
                    
                    chart.draw(data, {displayAnnotations: false});
                  }
                </script>
                
                <div id='chart_div' style='width: 970px; height: 400px;'></div>
                
            </div>
            </div>
            

            
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>