<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>
            {% if stockExchange %}
                Investorgator | {{ stockExchange.upper() }}
            {% else %}
                Investorgator
            {% endif %}
        </title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}">{{ stockExchange.upper() }} Dashboard</a></li>
                    <li class="active"><a href="/stock_exchanges/{{ stockExchange.upper() }}/all_companies">All Companies</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/indicies">Indicies</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/exchange_info">Exchange Info</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/stock_exchanges">Stock Exchanges</a> > <a href="/stock_exchanges/{{ stockExchange.upper() }}">{{ stockExchange.upper() }}</a> > All Companies</p>
            </div>
            
            <div class="content-main">
                <div class="main-window">
                    <form>
                    
                    </form>
                </div>
                
                <div class="main-window">
                    <link rel="stylesheet" href="http://tablesorter.com/themes/blue/style.css">
                    <script src="http://tablesorter.com/__jquery.tablesorter.js"></script>
                    <script type="text/javascript">
                        $(function() {
                            $("#tablesorter").tablesorter({
                                sortList:[[0,0]], 
                                widgets: ['zebra']
                            });
                            
                            $("#options").tablesorter({
                                sortList: [[0,0]], 
                                headers: { 
                                    3:{sorter: false},
                                    4:{sorter: false}
                                }
                            });
                        });
                    </script>
                    <table id="tablesorter" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Code</th>
                                <th>Current Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for company in companies %}
                            <tr>
                                
                                <td><a href="/stock_exchanges/{{ stockExchange.upper() }}/{{ company[2] }}">{{ company[1] }}</td>
                                <td>{{ company[2] }}</td>
                                <td>{{ company[3] }}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="content-side">
                <div class="side-window">
                    <div class="company_search">
                        <h2>{{ stockExchange.upper() }} Company Finder</h2>
                        <form action = "{{ url_for('company_search') }}" method="POST">
                            <input type="hidden" name="stockExchange" value="{{ stockExchange.upper() }}"/>
                            <input type="text" name="companyCode" placeholder="Search Companies">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>