<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Stock Exchanges</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li><a href="/stock_exchanges">Dashboard</a></li>
                    <li><a href="/stock_exchanges/all_stock_exchanges">All Stock Exchanges</a></li>
					<li class="active"><a href="/stock_exchanges/all_companies">All Companies</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/stock_exchanges">Stock Exchanges</a> > All Companies</p>
            </div>
            
            <div class="content-main">
                <div class="main-window">
                    <form>
                        <input type="submit" value="Go">
                    </form>
                </div>
            
                <div class="main-window">
                    <center><table>
                    <tr>
                        <th>Company Name</th>
                        <th>Company Code</th>
                        <th>Industry</th>
						<th>Stock Exchange</th>
                    </tr>
                {% for company in companies %}
                    <tr>
                        <td><a href="/stock_exchanges/{{ company[3] }}/{{ company[1] }}">{{ company[0] }}</a></td>
                        <td><center>{{ company[1] }}</center></td>
                        <td><center>{{ company[2] }}</center></td>
						<td><center>{{ company[3] }}</center></td>
                    </tr>
                {% endfor %}
                    </table></center>
                </div>
            </div>
            
            <div class="content-side">
                <div class="side-window">
                    <div class="company_search">
                        <h2>Company Finder</h2>
                        <form action = "{{ url_for('company_search') }}" method="POST">
                            <input type="hidden" name="stockExchange" value="0"/>
                            <input type="text" name="companyCode" placeholder="Search Companies">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
                
                <div class="side-window">
                    <div class="stock_exchange_search">
                        <h2>Stock Exchange Finder</h2>
                        <form action = "{{ url_for('company_search') }}" method="POST">
                            <input type="text" name="stockExchange" placeholder="Search Stock Exchanges">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
            </div>
            
            
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>