<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Stock Exchanges</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li class="active"><a href="/stock_exchanges">Dashboard</a></li>
                    <li><a href="/stock_exchanges/all_stock_exchanges">All Stock Exchanges</a></li>
					<li><a href="/stock_exchanges/all_companies">All Companies</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p>Stock Exchanges</p>
            </div>
            
            <div class="content-main">
                <div class="full-window">
                    <script type='text/javascript' src='https://www.google.com/jsapi'></script> 
                    <script type='text/javascript'>
                    google.load('visualization', '1', {'packages': ['geomap']});
                    google.setOnLoadCallback(drawMap);
                    
                    function drawMap() {
                        var data = google.visualization.arrayToDataTable([
                            ['Country', 'Todays Change (%)'],
                            ['Australia', {{ percentageChanges[0] }}],
                            //['United States', {{ percentageChanges[0] }}],
                        ]);

                        var options = {
                            dataMode: 'regions',
                            width: 834,
                            //height: 650,
                            legend: 'none'
                        };

                        var container = document.getElementById('map_canvas');
                        var chart = new google.visualization.GeoChart(container);

                        function myClickHandler(){
                            var selection = chart.getSelection();
                            var message = '';
                            for (var i = 0; i < selection.length; i++) {
                                var item = selection[i];
                                if (item.row != null && item.column != null) {
                                    message += '{row:' + item.row + ',column:' + item.column + '}';
                                } else if (item.row != null) {
                                    message += '{row:' + item.row + '}';
                                } else if (item.column != null) {
                                    message += '{column:' + item.column + '}';
                                }
                            }
                            if (message == '') {
                                message = 'nothing';
                            }
                            
                            if (message == '{row:0}') {
                                window.location="http://128.199.224.150/stock_exchanges/ASX/";
                            }
                        }

                        google.visualization.events.addListener(chart, 'select', myClickHandler);

                        chart.draw(data, options);
                    }

                    google.load('visualization', '1', {packages: ['geochart'], callback: drawMap});
                    
                    </script> 

                    <div id="map_canvas" align="center" name="wmode" value="transparent"></div>
                </div>
            </div>
            
            <!--
            <div class="content-side">
                <div class="side-window">
                    <div class="company_search">
                        <h2>Company Finder</h2>
                        <form action = "{{ url_for('company_search') }}" method="POST">
                            <input type="hidden" name="stockExchange" value="0"/>
                            <input type="text" name="companyCode" placeholder="Search Companies">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
            </div>
            -->
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>