<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>
            {% if stockExchange %}
                Investorgator | {{ stockExchange.upper() }}
            {% else %}
                Investorgator
            {% endif %}
        </title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}">{{ stockExchange.upper() }} Dashboard</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/all_companies">All Companies</a></li>
                    <li class="active"><a href="/stock_exchanges/{{ stockExchange.upper() }}/indicies">Indicies</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchange.upper() }}/exchange_info">Exchange Info</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/stock_exchanges">Stock Exchanges</a> > <a href="/stock_exchanges/{{ stockExchange.upper() }}">{{ stockExchange.upper() }}</a> > Indicies</p>
            </div>
            
            <div class="content-main">
                <div class="main-window">
                    <table>
                        <tr>
                            <th>Index</th>
                            <th>Code</th>
                            <th>Current Value</th>

                        </tr>
                        {% for index in indicies %}
                        <tr>
                            
                            <td><a href="/stock_exchanges/{{ stockExchange.upper() }}/indicies/{{ index[2] }}">{{ index[1] }}</td>
                            <td>{{ index[2] }}</td>
                            <td>{{ index[3] }}</td>
                            
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            
            <div class="content-side">
                <div class="side-window">
                    <div class="company_search">
                        <h2>{{ stockExchange.upper() }} Company Finder</h2>
                        <form action = "{{ url_for('company_search') }}" method="POST">
                            <input type="hidden" name="stockExchange" value="{{ stockExchange.upper() }}"/>
                            <input type="text" name="companyCode" placeholder="Search Companies">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>