<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>
            {% if stockExchangeAbbrev %}
                Investorgator | {{ stockExchangeAbbrev }}
            {% else %}
                Investorgator
            {% endif %}
        </title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/tablesorter/jquery.tablesorter.js') }}"></script> -->
        
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li class="active"><a href="/stock_exchanges/{{ stockExchangeAbbrev }}">{{ stockExchangeAbbrev }} Dashboard</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchangeAbbrev }}/all_companies">All Companies</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchangeAbbrev }}/indicies">Indicies</a></li>
                    <li><a href="/stock_exchanges/{{ stockExchangeAbbrev }}/exchange_info">Exchange Info</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/stock_exchanges">Stock Exchanges</a> > {{ stockExchangeName }}</p>
            </div>
            
            <div class="content-main">
                <div class="main-window">
                    <h2>{{ stockExchangeName }} ({{ stockExchangeAbbrev }})</h2>
                    <h3>{{ currentPrice }}</h3>
                    
                    <table style="width:100px; float:left"><tr style="color:{{ color }};">
                        {% if changeValue > 0 %}
                            <td style="padding: 0px; margin: 0px;"><div class="arrow-up" style="margin-bottom: 2px;"></div></td>
                        {% elif changeValue < 0 %}
                            <td style="padding: 0px; margin: 0px;"><div class="arrow-down" style="margin-bottom: 2px;"></div></td>
                        {% endif %}
                            <td style="padding: 0px; margin: 0px;">{{ changeValue }}</td>
                            <td style="padding: 0px; margin: 0px;">({{ percentageChange }}%)</td>
                    </tr></table><br><br>
                </div>
                
                <div class="main-window">
                    <h2>Major Indicies</h2>
                    
                    
                </div>
                
                <div class="main-window">
                    <h3>Top 5 Movers</h3>
                    <p>Volume</p>
                    
                    <table>
                        <tr>
                            <th>Company</th>
                            <th>Volume</th>
                            <th>Price</th>
                        </tr>
                        {% for company in topVolume %}
                        <tr>
                            <td>{{ company[0] }}</td>
                            <td>{{ company[1] }}</td>
                            <td>{{ company[2] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    
                    <p>Advancers</p>
                    
                    <table>
                        <tr>
                            <th>Company</th>
                            <th>Percentage Change</th>
                        </tr>
                        {% for company in topAdvancers %}
                        <tr>
                            <td>{{ company[0] }}</td>
                            
                            <td style="color: {{ company[2] }}">
                            {% if company[1] > 0 %}
                                <div class="arrow-up" style="float:left; margin-top: 4px;"></div>
                            {% elif company[1] < 0 %}
                                <div class="arrow-down" style="float:left; margin-top: 4px;"></div>
                            {% endif %}
                                {{ company[1] }}%
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    
                    <p>Decliners</p>
                    
                    <table>
                        <tr>
                            <th>Company</th>
                            <th>Percentage Change</th>
                        </tr>
                        {% for company in topDecliners %}
                        <tr>
                            <td>{{ company[0] }}</td>
                            
                            <td style="color: {{ company[2] }}">
                            {% if company[1] > 0 %}
                                <div class="arrow-up" style="float:left; margin-top: 4px;"></div>
                            {% elif company[1] < 0 %}
                                <div class="arrow-down" style="float:left; margin-top: 4px;"></div>
                            {% endif %}
                                {{ company[1] }}%
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                
                <div class="main-window">
                    <h2>Sector Performance</h1>
                </div>
            </div>
            
            <div class="content-side">
                <div class="side-window">
                    <div class="company_search">
                        <h2>{{ stockExchangeAbbrev.upper() }} Company Finder</h2>
                        <form action = "{{ url_for('company_search') }}" method="POST">
                            <input type="hidden" name="stockExchange" value="{{ stockExchangeAbbrev }}"/>
                            <input type="text" name="companyCode" placeholder="Search Companies">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>