<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>
            Investing Simulator
        </title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li class="active"><a href="/investing_simulator/">Investing Simulator</a></li>
                    <li><a href="/investing_simulator/">My Simulators</a></li>
                    <li><a href="/investing_simulator/">Leaderboards</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/stock_exchanges">Investing Simulator</a></p>
            </div>
            
            <div class="content-main">
                <div class="main-window">
                </div>
            </div>
            
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>