<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            
            <div class="content-main">
            {% for category in forumCategoriesList %}
                <div class="main-window">
                    <h1>{{ category[1] }}</h1>
                    {% for item in category[2:] %}
                        <p><a href="/forum/{{ item }}">{{ item }}</a></p>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
            
            <div class="content-side">
                <div class="side-window">
                    
                </div>
            </div>
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>