<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
        
            <div class="breadcrumbs">
                <p><a href="/forum">Forum</a> > <a href="/forum/{{ forumSubCategory }}">{{ subCategoryName }}</a> > {{ forumPostTitle }}</p>
            </div>
        
            <div class="content-main">
                <div class="main-window">
                    <h1>{{ forumPostTitle }}</h1>
                    <p>{{ contents }}</p>
                </div>
            </div>
            
            <div class="content-side">
                <div class="side-window">
                    
                </div>
            </div>
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>