<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
        
        <!-- Main Quill library -->
        <script src="//cdn.quilljs.com/1.2.0/quill.js"></script>
        <script src="//cdn.quilljs.com/1.2.0/quill.min.js"></script>

        <!-- Theme included stylesheets -->
        <link href="//cdn.quilljs.com/1.2.0/quill.snow.css" rel="stylesheet">
        <link href="//cdn.quilljs.com/1.2.0/quill.bubble.css" rel="stylesheet">
        
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    {% if newsArticle[7] %}
                    <li><a href="/news">News Dashboard</a></li>
                    <li><a href="/news/author_dashboard">Author Dashboard</a></li>
                    <li><a href="/news/author_dashboard/new_article">+ New Article</a></li>
                    <li><a href="/news/author_dashboard/drafts">Drafts</a></li>
                    <li class="active"><a href="/news/author_dashboard/deleted_articles">Deleted Articles</a></li>
                    {% elif newsArticle[8] %}
                    <li><a href="/news">News Dashboard</a></li>
                    <li><a href="/news/author_dashboard">Author Dashboard</a></li>
                    <li><a href="/news/author_dashboard/new_article">+ New Article</a></li>
                    <li class="active"><a href="/news/author_dashboard/drafts">Drafts</a></li>
                    <li><a href="/news/author_dashboard/deleted_articles">Deleted Articles</a></li>
                    {% else %}
                    <li class="active"><a href="/news">News Dashboard</a></li>
					<li><a href="">Stocks</a></li>
					<li><a href="">Real Estate</a></li>
					<li><a href="">Other Markets</a></li>
					<li><a href="">Economics</a></li>
                    {% if session.logged_in == True and session.permission <= 2 %}
                    <li><a href="/news/author_dashboard">Author Dashboard</a></li>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/news">News</a> > {{ newsArticle[2] }}</p>
            </div>
        
            <div class="content-main">
                <div class="main-window" id="article">
                    {% if newsArticle[6] %}
                    <center><p style="centre; color: red; margin-top: 0">{{ newsArticle[6] }}</p></center>
                    {% endif %}
                    <h1 style="margin-top:0">{{ newsArticle[2] }}</h1>
                    <p>{{ newsArticle[3] }}</p>
                    <p style="font-size: 12px; border-top: solid 1px #d3d3d3; padding-top: 10px; margin-top: 20px;">{{ newsArticle[4] }}</p>
                    <p style="font-size: 12px; border-bottom: solid 1px #d3d3d3; padding-bottom: 10px;">By {{ newsArticle[1] }}</p>
                    <div id="articleContents" style="">
                        <style>
                            #articleContents img {
                                max-width: 100%;
                            }
                            
                            #articleContents p, #articleContents li {
                                line-height: 25px;
                                margin: 15px 0;
                            }
                        </style>
                        <a href="/news/article/{{ newsArticle[0] }}"><img src="/static/img/articleThumbnails/{{ newsArticle[0] }}.png" onerror="this.src='/static/img/articleThumbnails/default.png'" style="width: 100%;"></a>
                        <script>
                            document.write(quillGetHTML({{ newsArticle[5]|safe }}))
                            
                            function quillGetHTML(inputDelta) {
                                var tempCont = document.createElement("div");
                                (new Quill(tempCont)).setContents(inputDelta);
                                return tempCont.getElementsByClassName("ql-editor")[0].innerHTML;
                            }
                        </script>
                    </div>
                </div>
                
                {% if session.logged_in %}
                <div class="main-window" id="article">
                    <p>New Comment</p>

                    <ul class="errors-list">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                    
                    <form action="" method="POST" id="new_comment">
                        <input type="hidden" name="form" value="addComment">
                        <textarea name="comment" form="new_comment" style="resize: none; width: 100%; height = 100px;"></textarea><br><br>
                        <input type="submit" value="Post">
                    </form>
                </div>
				{% else %}
				<div class="main-window" id="article">
                    <p><a onclick="document.getElementById('login').submit()">Login</a> to post a comment</p>
                </div>
                {% endif %}
                
                
                <div class="main-window">
                    <h3 style="border-bottom: 1px solid #d3d3d3; padding-bottom: 10px; margin:0;">Comments</h3>
                    {% if comments %}
                    {% for comment in comments %}
                        <div style="margin: 10px 0;">
                            <h4 style="display:inline;">{{ comment[2] }}</h4>
                            <p style="display:inline; font-size: 12px; padding: 2px 0; margin: 0;">{{ comment[3] }}</p>
                        </div>
                        <p style="border-bottom: solid 1px #d3d3d3; padding-bottom: 10px; margin-bottom:0;">{{ comment[1] }}</p>
                    {% endfor %}
                    {% else %}
                    <p>No Comments</p>
                    {% endif %}
                </div>
            </div>
            
            <div class="content-side">
                <div class="side-window">
                </div>
            </div>
            
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>