<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li><a href="/news">News Dashboard</a></li>
                    <li class="active"><a href="/news/author_dashboard">Author Dashboard</a></li>
                    <li><a href="/news/author_dashboard/new_article">+ New Article</a></li>
                    <li><a href="/news/author_dashboard/drafts">Drafts</a></li>
                    <li><a href="/news/author_dashboard/deleted_articles">Deleted Articles</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/news">News</a> > Author Dashboard</p>
            </div>
        
            <div class="content-main">
                <div class="main-window">
                    <h3 style="border-bottom: 1px solid #d3d3d3; padding-bottom: 10px; margin-top:0;">My Articles</h3>
                    {% if not authorArticles %}
                    <p>You have no articles</p>
                    {% else %}
                        {% for newsArticle in authorArticles %}
                    <div style="height: 150px">
                        <div id="articleThumbnail" style="float: left">
                            <img src="/static/img/articleThumbnails/{{ newsArticle[0] }}.png" onerror="this.src='/static/img/articleThumbnails/default.png'" style="height: 150px; width: 250px; widthdisplay: block;">
                        </div>
                        <div id="articleData" style="margin-left: 260px;">
                            
                            <a href="/news/article/{{ newsArticle[0] }}" style="text-decoration: none;"><h3 style="margin: 10px 0 0 0; line-height: 20px;">{{ newsArticle[1] }}</h3></a>
                            <p style="margin: 10px 0; font-size: 15px;">{{ newsArticle[2] }}</p>
                            <p style="font-size: 12px;">{{ newsArticle[3] }} | By {{ newsArticle[4] }}</p>
                            <form action="" method="POST" style="display:inline">
                                <input type="hidden" name="form" value="deleteArticle">
                                <input type="hidden" name="articleID" value="{{ newsArticle[0] }}">
                                <input type="submit" value="Delete">
                            </form>
                            <button onclick="location.href='/news/author_dashboard/edit_article/{{ newsArticle[0] }}'" type="button" style="display:inline">Edit</button>
                        </div>
                    </div>
                    <br>
                        {% endfor %}
                    {% endif %}
                </div>
                
                {% if session.permission == 1 %}
                <div class="main-window">
                    <h3 style="border-bottom: 1px solid #d3d3d3; padding-bottom: 10px; margin-top:0;">Other Author's Articles</h3>
                    {% if not otherAuthorArticles %}
                    <p>No other articles</p>
                    {% else %}
                        {% for newsArticle in otherAuthorArticles %}
                    <div style="height: 150px">
                        <div id="articleThumbnail" style="float: left">
                            <img src="/static/img/articleThumbnails/{{ newsArticle[0] }}.png" onerror="this.src='/static/img/articleThumbnails/default.png'" style="height: 150px; width: 250px; widthdisplay: block;">
                        </div>
                        <div id="articleData" style="margin-left: 260px;">
                            <a href="/news/article/{{ newsArticle[0] }}" style="text-decoration: none;"><h3 style="margin: 10px 0 0 0; line-height: 20px;">{{ newsArticle[1] }}</h3></a>
                            <p style="margin: 10px 0; font-size: 14px;">{{ newsArticle[2] }}</p>
                            <p style="font-size: 12px;">{{ newsArticle[3] }} | By {{ newsArticle[4] }}</p>
                            <form action="" method="POST" style="display:inline">
                                <input type="hidden" name="form" value="deleteArticle">
                                <input type="hidden" name="articleID" value="{{ newsArticle[0] }}">
                                <input type="submit" value="Delete">
                            </form>
                            <button onclick="location.href='/news/author_dashboard/edit_article/{{ newsArticle[0] }}'" type="button" style="display:inline">Edit</button>
                        </div>
                    </div>
                    <br>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
                
            </div>
            
            <div class="content-side">
                <div class="side-window">
                </div>
            </div>
            
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>