<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- Main Quill library -->
        <script src="//cdn.quilljs.com/1.2.0/quill.js"></script>
        <script src="//cdn.quilljs.com/1.2.0/quill.min.js"></script>

        <!-- Theme included stylesheets -->
        <link href="//cdn.quilljs.com/1.2.0/quill.snow.css" rel="stylesheet">
        <link href="//cdn.quilljs.com/1.2.0/quill.bubble.css" rel="stylesheet">
        
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li class="active"><a href="/news/author_dashboard">Author Dashboard</a></li>
                    <li><a href="/news/author_dashboard/new_article">+ New Article</a></li>
                    <li><a href="/news/author_dashboard/drafts">Drafts</a></li>
                    <li><a href="/news/author_dashboard/deleted_articles">Deleted Articles</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/news">News</a> > <a href="/news/author_dashboard">Author Dashboard</a> > <a href="/news/article/{{ newsArticle[0] }}">{{ newsArticle[2] }}</a> > Edit Article</p>
            </div>
            
            {% if errors %}
            <div class="full-window">
                <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        
            <div class="full-window">
                <form action="" method="POST" id="postForm" enctype="multipart/form-data">
                    <input type="hidden" name="form" value="addArticle">
                    <input type="text" name="articleTitle" maxlength="64" style="width: 500px" placeholder="Title" value="{{ newsArticle[2] }}"><br><br>
                    <p style="display:inline; font-size: 14px;">Change Thumbnail (Optional): </p>
                    <input type="file" name="thumbnail" accept="image/*" style="margin-bottom: 16px;">
                    <textarea form="postForm" name="description" maxlength="140" style="width: 100%; height: 50px; resize: none;" placeholder="Description">{{ newsArticle[3] }}</textarea><br><br>
                    <input type="hidden" name="articleContents" id="articleContents" value="">
                </form>
                                
                <div id="toolbar"></div>
                <div id="editor"></div><br>
                <button type="submit" form="postForm" id="postButton" onclick="fillContents()">Save</button>
                
                <script>
                    var toolbarOptions = [
                        ['bold', 'italic', 'underline', 'strike'],
                        ['blockquote'],
                        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                        [{ 'direction': 'rtl' }],                         // text direction
                        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                        [{ 'font': [] }],
                        [{ 'align': [] }],
                        ['link', 'image', 'video', 'formula']
                        
                    ];
                
                    var quill = new Quill('#editor', {
                        modules: {
                            toolbar: toolbarOptions
                        },
                        
                        theme: 'snow'
                    });
                    
                    quill.setContents({{ newsArticle[5]|safe }})
                    
                    function fillContents() {
                        document.getElementById('articleContents').value = JSON.stringify(quill.getContents());
                    }
                </script>
            </div>
            
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>