<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li class="active"><a href="/news">News Dashboard</a></li>
					<li><a href="">Markets</a></li>
					<li><a href="">Economies</a></li>
					<li><a href="">Politics</a></li>
					<li><a href="">Other</a></li>
                    {% if session.logged_in == True and session.permission <= 2 %}
                    <li><a href="/news/author_dashboard">Author Dashboard</a></li>
                    {% endif %}
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p>News</p>
            </div>
        
            <div class="content-main">
                {% if not newsArticles %}
                <div class="main-window">
                    <p>Sorry, there are no articles</p>
                </div>
                {% endif %}
                
                {% for newsArticle in newsArticles %}
                <div class="main-window">
                    <div id="articleThumbnail" style="float: left">
                        <a href="/news/article/{{ newsArticle[0] }}"><img src="/static/img/articleThumbnails/{{ newsArticle[0] }}.png" onerror="this.src='/static/img/articleThumbnails/default.png'" style="height: 150px; width: 250px; widthdisplay: block;"></a>
                    </div>
                    <div id="articleData" style="margin-left: 260px;">
                        <a href="/news/article/{{ newsArticle[0] }}" style="text-decoration: none;"><h3 style="margin: 0; line-height: 22px;">{{ newsArticle[1] }}</h3></a>
                        <p style="margin: 10px 0; font-size: 15px;">{{ newsArticle[2] }}</p>
                        <p style="font-size: 12px;">{{ newsArticle[3] }} | By {{ newsArticle[4] }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <div class="content-side">
                <div class="side-window">
                </div>
            </div>
            
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>