<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        <!-- Main Quill library -->
        <script src="//cdn.quilljs.com/1.2.0/quill.js"></script>
        <script src="//cdn.quilljs.com/1.2.0/quill.min.js"></script>

        <!-- Theme included stylesheets -->
        <link href="//cdn.quilljs.com/1.2.0/quill.snow.css" rel="stylesheet">
        <link href="//cdn.quilljs.com/1.2.0/quill.bubble.css" rel="stylesheet">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    {% if session.username == username %}
                    <li><a href="/users/{{ username }}">My Profile</a></li>
                    <li><a href="/users/{{ username }}/portfolios">Portfolio</a></li>
                    <li><a href="/users/{{ username }}/watchlists">Watchlists</a></li>
                    <li class="active"><a href="/users/{{ username }}/blogs">Blogs</a></li>
                    <li><a href="/users/{{ username }}/settings">Settings</a></li>
                    {% else %}
                    <li><a href="/users/{{ username }}">{{ username }}'s Profile</a></li>
                    <li class="active"><a href="/users/{{ username }}/blogs">Blogs</a></li>
                    {% endif %}
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/users">Users</a> > <a href="/users/{{ username }}">{{ username }}</a> > <a href="/users/{{ username }}/blogs">Blogs</a> > <a href="/users/{{ username }}/blogs/{{ blogTitle }}">{{ blogTitle }}</a> > {{ blogPostTitle }}</p>
            </div>
            
			<div class="content-main">
                <div class="main-window">
                    <h3>{{ post[0] }}</h3>
                    <p>{{ post[1] }}</p>
                    
                    <div id="editor"></div><br>
                    
                    <script>
                        var toolbarOptions = [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote'],
                            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                            [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                            [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                            [{ 'direction': 'rtl' }],                         // text direction
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                            [{ 'font': [] }],
                            [{ 'align': [] }],
                            ['link', 'image', 'video', 'formula']
                            
                        ];
                    
                        var quill = new Quill('#editor', {
                            modules: {
                                toolbar: false//toolbarOptions
                            },
                            
                            theme: 'snow'
                        });
                        
                        function fillContents() {
                            document.getElementById('postContents').value = JSON.stringify(quill.getContents());
                        }
                        
                        quill.setContents({{ post[2]|safe }});
                        quill.enable(false);
                    </script>
                    
                </div>
                
                <div class="main-window">
                    <h3>Comments</h3>
                </div>
            </div>
            
            <div class="content-side">
                <div class="side-window">
                </div>
            </div>
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>