<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
        
        {% if session.username == username %}
        <script type="text/javascript">
            function newBlog(){
                document.getElementById('newBlogDiv').style.display='block';
                document.getElementById('newBlog').style.display='none';
                document.getElementById('newBlogBack').style.display='Block';
            }
            
            function newBlogBack(){
                document.getElementById('newBlogDiv').style.display='none';
                document.getElementById('newBlog').style.display='block';
                document.getElementById('newBlogBack').style.display='none';
            }
        </script>
        {% endif %}
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    {% if session.username == username %}
                    <li><a href="/users/{{ username }}">My Profile</a></li>
                    <li><a href="/users/{{ username }}/portfolios">Portfolio</a></li>
                    <li><a href="/users/{{ username }}/watchlists">Watchlists</a></li>
                    <li class="active"><a href="/users/{{ username }}/blogs">Blogs</a></li>
                    <li><a href="/users/{{ username }}/settings">Settings</a></li>
                    {% else %}
                    <li><a href="/users/{{ username }}">{{ username }}'s Profile</a></li>
                    <li class="active"><a href="/users/{{ username }}/blogs">Blogs</a></li>
                    {% endif %}
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/users">Users</a> > <a href="/users/{{ username }}">{{ username }}</a> > Blogs</p>
            </div>
            
			<div class="content-main">
                {% if session.username == username %}
                <div class="main-window">
                    <button id="newBlog" onClick="newBlog()" style="float:right">+ New Blog</button>
                    <button id="newBlogBack" onClick="newBlogBack()" style="float: right; display: none">Back</button>
                </div>
                
                <div class="main-window" id="newBlogDiv" style="display:none">
                    <form id="newBlogForm" action="" method="POST">
                        <input type="hidden" name="form" value="addBlog"/>
                        <input type="text" name="title" placeholder="New Blog Title"/>
                    </form>
                    <br>
                    <textarea form="newBlogForm" name="description" placeholder="Description" rows="4" cols="70" maxlength="140" style="resize:none"></textarea>
                    <br><br>
                    <input form="newBlogForm" type="submit" value="Make Blog"/>
                </div>
                
                    {% for blog in blogs %}
                <div class="main-window">
                    <a href="/users/{{ username }}/blogs/{{ blog[0]}}"><h3>{{ blog[0] }}</h3></a>
                    <p>{{ blog[1] }}</p>
                </div>
                    {% endfor %}
                
                {% else %}
            
                <div class="main-window">
                    <h1>{{ username }}'s Blogs</h1>
                </div>
                    {% for blog in blogs %}
                <div class="main-window">
                    <a href="/users/{{ username }}/blogs/{{ blog[0]}}"><h3>{{ blog[0] }}</h3></a>
                    <p>{{ blog[1] }}</p>
                </div>
                    {% endfor %}
                
                {% endif %}
            </div>
            
            <div class="content-side">
                <div class="side-window">
                </div>
            </div>
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>