<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        {% if session.username == username %}
        <!-- Main Quill library -->
        <script src="//cdn.quilljs.com/1.2.0/quill.js"></script>
        <script src="//cdn.quilljs.com/1.2.0/quill.min.js"></script>

        <!-- Theme included stylesheets -->
        <link href="//cdn.quilljs.com/1.2.0/quill.snow.css" rel="stylesheet">
        <link href="//cdn.quilljs.com/1.2.0/quill.bubble.css" rel="stylesheet">
        {% endif %}

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    {% if session.username == username %}
                    <li><a href="/users/{{ username }}">My Profile</a></li>
                    <li><a href="/users/{{ username }}/portfolios">Portfolio</a></li>
                    <li><a href="/users/{{ username }}/watchlists">Watchlists</a></li>
                    <li class="active"><a href="/users/{{ username }}/blogs">Blogs</a></li>
                    <li><a href="/users/{{ username }}/settings">Settings</a></li>
                    {% else %}
                    <li><a href="/users/{{ username }}">{{ username }}'s Profile</a></li>
                    <li class="active"><a href="/user/{{ username }}/blogs">Blogs</a></li>
                    {% endif %}
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/users">Users</a> > <a href="/users/{{ username }}">{{ username }}</a> > <a href="/users/{{ username }}/blogs">Blogs</a> > {{ blogTitle }}</p>
            </div>
            
			<div class="content-main">
                <div class="main-window">
                    <h1>{{ blogTitle }}</h1>
                    <p>By {{ username }}</p>
                </div>
                {% for post in posts %}
                <div class="main-window">
                    <a href="/users/{{ username }}/blogs/{{ blogTitle }}/{{ post[0] }}"><h3>{{ post[0] }}</h3></a>
                    <p>{{ post[1] }}</p>
                </div>
                {% endfor %}
            </div>
            
            <div class="content-side">
                <div class="side-window">
                </div>
            </div>
            
        </div>
        
        {% if session.username == username %}
        <div class="full-window">
            <form action="" method="POST" id="postForm">
                <input type="hidden" name="form" value="addBlogPost">
                <input type="text" name="blogTitle" placeholder="Blog Title"><br><br>
                <input type="text" name="description" placeholder="Description"><br><br>
                <input type="hidden" name="postContents" id="postContents" value="">
            </form>
            
            <div id="toolbar"></div>
            <div id="editor"></div><br>
            <button type="submit" form="postForm" id="postButton" onclick="fillContents()">Post</button>
            
            <script>
                var toolbarOptions = [
                    ['bold', 'italic', 'underline', 'strike'],
                    ['blockquote'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                    [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                    [{ 'direction': 'rtl' }],                         // text direction
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],
                    ['link', 'image', 'video', 'formula']
                    
                ];
            
                var quill = new Quill('#editor', {
                    modules: {
                        toolbar: toolbarOptions
                    },
                    
                    theme: 'snow'
                });
                
                function fillContents() {
                    document.getElementById('postContents').value = JSON.stringify(quill.getContents());
                }
            </script>
		</div>
        {% endif %}
        
        {% include 'common/footer.html' %}
    </body>
</html>