<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="full-window">                
                {% if errors %}
				<ul class="errors-list">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
				{% endif %}
                
                <form class="login" action = "" method="POST">
                    <input type="hidden" name="form" value="login">
                    <input type="text" name="username" placeholder="Username"><br>
                    <input type="password" name="password" placeholder="Password"><br>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>