<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li class="active"><a href="/users/{{ username }}">My Profile</a></li>
                    <li><a href="/users/{{ username }}/portfolios">Portfolio</a></li>
                    <li><a href="/users/{{ username }}/watchlists">Watchlists</a></li>
                    <li><a href="/users/{{ username }}/blogs">Blogs</a></li>
                    <li><a href="/users/{{ username }}/settings">Settings</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/users">Users</a> > <a href="/users/{{ username }}">{{ username }}</a></p>
            </div>
            
			<div class="full-window">
				{% if session.logged_in and username == session.username %}
                <h2 align="center">Hello, {{ session.username }}</h2>
				{% else %}
                <h2 align="center">{{ username }}</h2>
				{% endif %}
			</div>
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>