<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li><a href="/users/{{ username }}">My Profile</a></li>
                    <li class="active"><a href="/users/{{ username }}/portfolios">Portfolios</a></li>
                    <li><a href="/users/{{ username }}/watchlists">Watchlists</a></li>
                    <li><a href="/users/{{ username }}/blogs">Blogs</a></li>
                    <li><a href="/users/{{ username }}/settings">Settings</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/users">Users</a> > <a href="/users/{{ username }}">{{ username }}</a> > Portfolios</p>
            </div>
            
            <div class="content-main">
                <div class="main-window">
                    <h1>Portfolios</h1>
                    {% if errors %}
                    {% for error in errors %}
                        <li style="color: red;">{{ error }}</li>
                    {% endfor %}
                    {% endif %}
                    
                    {% for portfolio in portfolios %}
                        <h2>{{ portfolio[1] }}</h2>
                    {% endfor %}
                </div>
            </div>
            
            <div class="content-side">
                <div class="side-window">
                    <h3>Add Portfolio</h3>
                    <form action="" method="POST">
                        <input type="hidden" name="form" value="addPortfolio"/>
                        <input type="text" name="portfolioName" placeholder="Enter Portfolio Name">
                        <input type="submit" value="Create">
                    </form>
                </div>
            </div>
        </div>
        
        <script>
            function edit(company, portfolioID){
                document.getElementById('editCompanyForm'   + company + portfolioID).style.display='inline';
                document.getElementById('unitsCompany'      + company + portfolioID).style.display='none';
                document.getElementById('editCompanyButton' + company + portfolioID).style.display='none';
                document.getElementById('doneCompany'       + company + portfolioID).style.display='inline';
                document.getElementById('backCompanyButton' + company + portfolioID).style.display='inline';
                document.getElementById('deleteCompanyForm' + company + portfolioID).style.display='none';
            }
            
            function back(company, portfolioID){
                document.getElementById('editCompanyForm'   + company + portfolioID).style.display='none';
                document.getElementById('unitsCompany'      + company + portfolioID).style.display='inline';
                document.getElementById('editCompanyButton' + company + portfolioID).style.display='inline';
                document.getElementById('doneCompany'       + company + portfolioID).style.display='none';
                document.getElementById('backCompanyButton' + company + portfolioID).style.display='none';
                document.getElementById('deleteCompanyForm' + company + portfolioID).style.display='inline';
            }
            
            function editPortfolio(portfolio){
                document.getElementById('editPortfolioForm'   + portfolio).style.display='inline';
                document.getElementById('editPortfolioButton' + portfolio).style.display='none';
                document.getElementById('backPortfolioButton' + portfolio).style.display='inline';
                document.getElementById('portfolioTitle'      + portfolio).style.display='none';
                document.getElementById('donePortfolio'       + portfolio).style.display='inline';
                document.getElementById('deletePortfolioForm' + portfolio).style.display='inline';
            }
            
            function backPortfolio(portfolio){
                document.getElementById('editPortfolioForm'   + portfolio).style.display='none';
                document.getElementById('editPortfolioButton' + portfolio).style.display='inline';
                document.getElementById('backPortfolioButton' + portfolio).style.display='none';
                document.getElementById('portfolioTitle'      + portfolio).style.display='inline';
                document.getElementById('donePortfolio'       + portfolio).style.display='none';
                document.getElementById('deletePortfolioForm' + portfolio).style.display='none';
            }
        </script>
        
        {% for portfolio in portfolioData %}

        <div class="full-window">
            <h3 style="display:inline;" id="portfolioTitle{{ portfolio[0] }}">{{ portfolio[1] }}</h3>
            
            <form action="" method="post" style="float:left; display:none;" id="editPortfolioForm{{ portfolio[0] }}"  onsubmit="return confirm('Are you sure you want to edit {{ portfolio[1] }}?');">
                <input type="hidden" name="form" value="editPortfolioName"/>
                <input type="hidden" name="portfolioID" value="{{ portfolio[0] }}"/>
                <input type="text" name="newPortfolioName" value="{{ portfolio[1] }}" required/>
            </form><br/>
            
            <button id="editPortfolioButton{{ portfolio[0] }}" onclick="editPortfolio('{{ portfolio[0] }}')" style="float:right;display:inline;">Edit {{ portfolio[1] }}</button>
            <button id="backPortfolioButton{{ portfolio[0] }}" onclick="backPortfolio('{{ portfolio[0] }}')" style="float:right;display:none;">Back</button>
            <input id="donePortfolio{{ portfolio[0] }}" type="submit" value="Done" form="editPortfolioForm{{ portfolio[0] }}" style="float:right; display:none; margin: 0 5px 0 5px;"/>
            
            <form action="" method="post" style="float:right; display:none;" id="deletePortfolioForm{{ portfolio[0] }}" onsubmit="return confirm('Are you sure you want to delete {{ portfolio[1] }}?');">
                <input type="hidden" name="form" value="deletePortfolio"/>
                <input type="hidden" name="portfolioID" value="{{ portfolio[0] }}"/>
                <input type="submit" value="Delete"/>
            </form>

            {% if portfolio[3]|length > 0 %}
            
            <h4>Stocks</h4>
            
            <table class="portfolio">
                <tr>
                    <th>Company</th>
                    <th>Stock Exchange</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Change(%)</th>
                    <th>Change($)</th>
                    <th>Market Value</th>
                </tr>
                
            {% for company in portfolio[3] %}
                
                <tr>
                    <td><a href="/stock_exchanges/{{ company[4] }}/{{ company[1] }}/">{{ company[1] }}</a></td>
                    <td>{{ company[4] }}</td>
                    <td align="right" style="width:120px">
                        <p id="unitsCompany{{ company[1] }}{{ portfolio[0] }}" style="line-height:0px">{{ company[5] }}</p>
                        
                        <form action="" id="editCompanyForm{{ company[1] }}{{ portfolio[0] }}" method="POST" style="display:none;" onSubmit="return confirm('Are you sure you want to edit {{ company[1] }} from {{ portfolio[1] }}?');">
                            <input type="hidden" name="form" value="editCompanyUnits"/>
                            <input type="hidden" name="portfolioID" value="{{ portfolio[0] }}"/>
                            <input type="hidden" name="stockExchangeID" value="{{ company[3] }}"/>
                            <input type="hidden" name="companyID" value="{{ company[0] }}"/>
                            <input type="number" name="units" min="0" step="1" style="width:100px;" value="{{ company[5] }}" placeholder="Units" required/>
                        </form>
                    </td>
                    <td align="right">{{ company[6] }}</td>
                    <td align="right" style="color:{{ company[9] }}">{{ company[7] }}</td>
                    <td align="right" style="color:{{ company[9] }}">{{ company[8] }}</td>
                    <td align="right">{{ company[10] }}</td>
                    <td align="right">
                        <button id="editCompanyButton{{ company[1] }}{{ portfolio[0] }}" onclick="edit('{{ company[1] }}', '{{ portfolio[0] }}')">Edit</button>
                        <button id="backCompanyButton{{ company[1] }}{{ portfolio[0] }}" onclick="back('{{ company[1] }}', '{{ portfolio[0] }}')" style="display:none">Back</button>
                        <input id="doneCompany{{ company[1] }}{{ portfolio[0] }}" type="submit" value="Done" form="editCompanyForm{{ company[1] }}{{ portfolio[0] }}" style="display:none"/>
                        
                        <form action="" method="POST" id="deleteCompanyForm{{ company[1] }}{{ portfolio[0] }}" onSubmit="return confirm('Are you sure you want to delete {{ company[1] }} from {{ portfolio[1] }}?');" style="display:inline">
                            <input type="hidden" name="form" value="deletePortfolioCompany"/>
                            <input type="hidden" name="portfolioID" value="{{ portfolio[0] }}"/>
                            <input type="hidden" name="stockExchangeID" value="{{ company[3] }}"/>
                            <input type="hidden" name="companyID" value="{{ company[0] }}"/>
                            <input type="submit" value="Delete"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>
            {% endif %}
            <h5>Portfolio Value: ${{ portfolio[2] }}</h4>
        </div>
        {% endfor %}
        
        {% include 'common/footer.html' %}
    </body>
</html>