<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="full-window">                
                {% if errors %}
                <ul class="errors-list">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                
                <form class="register" action = "" method="POST">
                    <input type="hidden" name="form" value="register">
                    <input type="text" name="username" placeholder="Username (6 Characters or more)"><br>
                    <input type="password" name="password" placeholder="Password (6 Characters or more)"><br>
                    <input type="password" name="passwordRepeat" placeholder="Repeat Password"><br>
                    <input type="email" name="email" placeholder="Email"><br>
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>