<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li><a href="/users/{{ username }}">My Profile</a></li>
                    <li><a href="/users/{{ username }}/portfolio">Portfolios</a></li>
                    <li><a href="/users/{{ username }}/watchlists">Watchlists</a></li>
                    <li><a href="/users/{{ username }}/blogs">Blogs</a></li>
                    <li class="active"><a href="/users/{{ username }}/settings">Settings</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/users">Users</a> > <a href="/users/{{ username }}">{{ username }}</a> > Settings</p>
            </div>
            
			<div class="full-window">
				<h1>Change Password</h1>
                
                {% if errors %}
                <ul class="errors-list">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                
                <form class="settings" action = "" method="POST">
                    <input type="hidden" name="setting" value="change password">
                    <input type="password" name="currentPassword" placeholder="Current Password"><br>
                    <input type="password" name="newPassword" placeholder="New Password"><br>
                    <input type="password" name="confirmPassword" placeholder="Confirm Password"><br>
                    <input type="submit" value="Change Password">
                </form>
			</div>
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>