<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
            <div class="content-nav">
                <ul>
                    <li><a href="/users/{{ username }}">My Profile</a></li>
                    <li><a href="/users/{{ username }}/portfolios">Portfolios</a></li>
                    <li class="active"><a href="/users/{{ username }}/watchlists">Watchlists</a></li>
                    <li><a href="/users/{{ username }}/blogs">Blogs</a></li>
                    <li><a href="/users/{{ username }}/settings">Settings</a></li>
                </ul>
            </div>
            
            <div class="breadcrumbs">
                <p><a href="/users">Users</a> > <a href="/users/{{ username }}">{{ username }}</a> > Watchlists</p>
            </div>
            
			<div class="content-main">
                <div class="main-window">
                    <h1>Watchlists</h1>
                    {% for error in errors %}
                        <li style="color: red;">{{ error }}</li>
                    {% endfor %}
                    
                </div>
            </div>
            
            <div class="content-side">
                <div class="side-window">
                    <h3>Add Watchlist</h3>
                    <form action="" method="POST">
                        <input type="hidden" name="form" value="addWatchlist"/>
                        <input type="text" name="watchlistName" placeholder="Enter Watchlist Name">
                        <input type="submit" value="Create">
                    </form>
                </div>
            </div>            
            
        </div>
        
        
        <script>
            function editWatchlist(watchlist){
                document.getElementById('editWatchlistForm'   + watchlist).style.display='inline';
                document.getElementById('editWatchlistButton' + watchlist).style.display='none';
                document.getElementById('backWatchlistButton' + watchlist).style.display='inline';
                document.getElementById('watchlistTitle'      + watchlist).style.display='none';
                document.getElementById('doneWatchlist'       + watchlist).style.display='inline';
                document.getElementById('deleteWatchlistForm' + watchlist).style.display='inline';
            }
            
            function backWatchlist(watchlist){
                document.getElementById('editWatchlistForm'   + watchlist).style.display='none';
                document.getElementById('editWatchlistButton' + watchlist).style.display='inline';
                document.getElementById('backWatchlistButton' + watchlist).style.display='none';
                document.getElementById('watchlistTitle'      + watchlist).style.display='inline';
                document.getElementById('doneWatchlist'       + watchlist).style.display='none';
                document.getElementById('deleteWatchlistForm' + watchlist).style.display='none';
            }
        </script>
        
        
        {% for watchlist in watchlistData %}

        <div class="full-window">
            <h3 style="display:inline;" id="watchlistTitle{{ watchlist[0] }}">{{ watchlist[1] }}</h3>
            
            <form action="" method="post" style="float:left; display:none;" id="editWatchlistForm{{ watchlist[0] }}"  onsubmit="return confirm('Are you sure you want to edit {{ watchlist[1] }}?');">
                <input type="hidden" name="form" value="editWatchlistName"/>
                <input type="hidden" name="watchlistID" value="{{ watchlist[0] }}"/>
                <input type="text" name="newWatchlistName" value="{{ watchlist[1] }}" required/>
            </form><br/>
            
            <button id="editWatchlistButton{{ watchlist[0] }}" onclick="editWatchlist('{{ watchlist[0] }}')" style="float:right;display:inline;">Edit {{ watchlist[1] }}</button>
            <button id="backWatchlistButton{{ watchlist[0] }}" onclick="backWatchlist('{{ watchlist[0] }}')" style="float:right;display:none;">Back</button>
            <input id="doneWatchlist{{ watchlist[0] }}" type="submit" value="Done" form="editWatchlistForm{{ watchlist[0] }}" style="float:right; display:none; margin: 0 5px 0 5px;"/>
            
            <form action="" method="post" style="float:right; display:none;" id="deleteWatchlistForm{{ watchlist[0] }}" onsubmit="return confirm('Are you sure you want to delete {{ watchlist[1] }}?');">
                <input type="hidden" name="form" value="deleteWatchlist"/>
                <input type="hidden" name="watchlistID" value="{{ watchlist[0] }}"/>
                <input type="submit" value="Delete"/>
            </form>

            {% if watchlist[2]|length > 0 %}
            
            <h4>Stocks</h4>
            
            <table class="watchlist">
                <tr>
                    <th>Company</th>
                    <th>Stock Exchange</th>
                    <th>Price</th>
                    <th>Change(%)</th>
                    <th>Change($)</th>
                </tr>
                
            {% for company in watchlist[2] %}
                <tr>
                    <td><a href="/stock_exchanges/{{ company[4] }}/{{ company[1] }}/">{{ company[1] }}</a></td>
                    <td>{{ company[4] }}</td>
                    <td align="right">{{ company[5] }}</td>
                    <td align="right" style="color:{{ company[8] }}">{{ company[6] }}</td>
                    <td align="right" style="color:{{ company[8] }}">{{ company[7] }}</td>
                    <td align="right">
                        <button id="backCompanyButton{{ company[1] }}" onclick="back('{{ company[1] }}')" style="display:none">Back</button>
                        
                        <form action="" method="POST" id="deleteCompanyForm{{ company[1] }}" onsubmit="return confirm('Are you sure you want to delete {{ company[1] }} from {{ watchlist[1] }}?');" style="display:inline">
                            <input type="hidden" name="form" value="deleteCompany"/>
                            <input type="hidden" name="watchlistID" value="{{ watchlist[0] }}"/>
                            <input type="hidden" name="stockExchangeID" value="{{ company[3] }}"/>
                            <input type="hidden" name="companyID" value="{{ company[0] }}"/>
                            <input type="submit" value="Delete"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>
            {% endif %}
        </div>
        {% endfor %}
        
        
        
        <!--
        <div class="full-window">
            {{ watchlistData }}
        </div>
        -->
        
        {% include 'common/footer.html' %}
    </body>
</html>