<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Investorgator</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'common/header.html' %}
        <div class="content">
        </div>
        {% include 'common/footer.html' %}
    </body>
</html>