.footer {
    height: 100px;
    clear: both;
    background: white;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    padding: 0;
}