body {
  background-color: #f6f6f6;
  font-size: 1.6rem;
  font-family: "Verdana";
  margin: 0;
}

/* Page Divisions */

.content {
    width: 1040px;
    margin: 0 auto;
    height: 100%;
    padding-top: 110px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
}

.content a {
    color: #a3a3a3;
}








.content-nav {
    display: inline-block;
    width: 1010px;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    
}

.content-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:center;
}

.content-nav li {
    display: inline;
}

.content-nav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
    height: 60px;
    line-height: 60px;
}

.content-nav li a:hover {
    color: #add8e6;
}

.content-nav .active a {
    /*background-color: #e3e3e3;*/
    color: #a3a3a3;
}
/*
.content-nav .active a:hover {
    color: #000000;
}
*/



.content-main {
    width: 700px;
    float: left;
    margin-right: 5px;
}

.content-side {
    width: 300px;
    float: right;
    margin-left: 5px;
}

.main-window {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    overflow-y: hidden;
    overflow-x: hidden;
}

.side-window {
    background-color: #ffffff;
    width: 300px;
    min-height: 100px;
    float: right;
    margin-bottom: 10px;
    margin-left: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.full-window {
    background-color: #ffffff;
    width: 1010px;
    padding: 20px;
    font-size: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    margin: 0 auto;
    margin-bottom: 10px;
}

/*  */

header {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
}

.content h1 {
    
}

.login {
    text-align: center;
    margin: 100px;
}

.login input {
    margin: 10px;
    padding: 20px;
}

.login input[type="text"],
.login input[type="password"] {
  width: 250px;
}

.register {
    text-align: center;
    margin: 100px;
}

.register input {
    margin: 10px;
    padding: 20px;
}

.register input[type="text"],
.register input[type="password"],
.register input[type="email"] {
  width: 250px;
}

.settings {
    text-align: center;
    margin: 100px;
}

.settings input {
    margin: 10px;
    padding: 20px;
}

.settings input[type="text"],
.settings input[type="password"] {
  width: 250px;
}

.errors-list li {
    line-height: 25px;
    color: red;
}

.register input[type="submit"], .login input[type="submit"], .settings input[type="submit"] {
    padding: 20px 50px;
    font-family: "Verdana";
    background-color: #e3e3e3;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.register input[type="submit"]:hover, .login input[type="submit"]:hover, .settings input[type="submit"]:hover {
    background-color: #add8e6;
    cursor: pointer;
}






.company_search {
    padding: 20px;
    text-align: center;
}

.company_search form {
    margin-top: 5px;
}

.company_search input {
    padding: 15px;
    margin-top: 15px;
}

.stock_exchange_search {
    padding: 20px;
    text-align: center;
}

.stock_exchange_search form {
    margin-top: 5px;
}

.stock_exchange_search input {
    padding: 15px;
    margin-top: 15px;
}





.breadcrumbs a {
    color: #a3a3a3;
}


table {
    padding: 0;
    white-space: nowrap;
	font-size: 12px;
}

table tr td{
    padding: 10px 10px;
}

table tr th{
    padding: 10px 10px;
    font-weight: bold;
}


#map_canvas {
    margin: 20px 0;
    z-index: -999;
}

/*
.portfolio tr:hover {
    background-color:#f6f6f6;
}
*/





a {
    cursor: pointer;
}






.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid green;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid red;
}