        <header>
            <!-- Main Nav Menu -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}"> <!-- CSS reset -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}"> <!-- Resource style -->

            <!-- User Menu -->
            <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_user.css') }}"> <!-- CSS reset -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/header_user.css') }}"> <!-- Resource style -->

            <script src="{{ url_for('static', filename='js/jquery-2.1.4.js') }}"></script> <!-- menu aim -->
            <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script> <!-- Modernizr -->

            <!-- Main Nav Menu -->
            <script src="{{ url_for('static', filename='js/jquery.menu-aim.js') }}"></script> <!-- menu aim -->
            <script src="{{ url_for('static', filename='js/main_nav.js') }}"></script> <!-- Resource jQuery -->

            <!-- User Menu -->
            <script src="{{ url_for('static', filename='js/main_user.js') }}"></script> <!-- Resource jQuery -->
            
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-92698234-1', 'auto');
                ga('send', 'pageview');
            </script>
            
            {% if session.logged_in %}
            <nav class="cd-stretchy-nav">
                <a class="cd-nav-trigger" href="#0">
                    Menu
                    <span aria-hidden="true"></span>
                </a>

                <ul>
                    {% if session.logged_in and session.permission <= 2 %}
                    <li><a href="/news/author_dashboard"><span>Author Dashboard</span></a></li>
                    {% endif %}
                    <li><a href="/users/{{ session.username }}"><span>My Profile</span></a></li>
                    <li><a href="/users/{{ session.username }}/portfolios"><span>Portfolios</span></a></li>
                    <li><a href="/users/{{ session.username }}/watchlists"><span>Watchlists</span></a></li>
                    <li><a href="/users/{{ session.username }}/blogs"><span>Blogs</span></a></li>
                    <li><a href="/users/{{ session.username }}/settings"><span>Settings</span></a></li>
                </ul>

                <span aria-hidden="true" class="stretchy-nav-bg"></span>
            </nav>
            {% endif %}
            
            <div class="login-controls">
                {% if session.logged_in %}
                <ul style="margin-right: 60px;">
                    <form action="/logout/" method="POST" id="logout" style="display: inline">
                        <input type="hidden" name="previousURL" value="{{ request.path }}">
                        <li><a onclick="document.getElementById('logout').submit()">Logout ({{ session.username }})</a></li>
                    </form>
                </ul>
                {% else %}
                
                <ul>
                    <form action="/register/" method="POST" id="register" style="display: inline;">
                        <input type="hidden" name="form" value="registerLink">
                        <input type="hidden" name="previousURL" value="{{ request.path }}">
                        <li><a onclick="document.getElementById('register').submit()" style="margin-right: 10px;">Register</a></li>
                    </form>
                    
                    <form action="/login/" method="POST" id="login" style="display: inline">
                        <input type="hidden" name="form" value="loginLink">
                        <input type="hidden" name="previousURL" value="{{ request.path }}">
                        <li><a onclick="document.getElementById('login').submit()">Login</a></li>
                    </form>
                </ul>
                {% endif %}
                </ul>
                
            </div>
            
            
            <div class="cd-dropdown-wrapper">
                <a class="cd-dropdown-trigger" href="#0">Menu</a>
                <nav class="cd-dropdown">
                    <a href="#0" class="cd-close">Close</a>
                    <ul class="cd-dropdown-content">
                        
                        
                        
                        <li class="has-children">
                            <a href="#0">Stock Exchanges</a>

                            <ul class="cd-secondary-dropdown is-hidden">
                                <li class="go-back"><a href="#0">Menu</a></li>
                                <li class="see-all"><a href="/stock_exchanges/">All Stock Exchanges</a></li>
                                <li class="has-children">
                                    <a href="#0">Americas</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Shares</a></li>
										<!--
                                        <li><a href="/stock_exchanges/NASDAQ">NASDAQ</a></li>
                                        <li><a href="/stock_exchanges/NYSE">New York Stock Exchange</a></li>
                                        <li><a href="/stock_exchanges/TMX">TMX Group</a></li>
                                        <li><a href="/stock_exchanges/BMF">BM&F Bovespa</a></li>
										-->
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#0">Europe</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Shares</a></li>
										<!--
                                        <li><a href="/stock_exchanges/LSX">London Stock Exchange Group</a></li>
                                        <li><a href="/stock_exchanges/ENXT">Euronext</a></li>
                                        <li><a href="/stock_exchanges/DB">Deutsche Borse</a></li>
                                        <li><a href="/stock_exchanges/SSE">SIX Swiss Exchange</a></li>
                                        <li><a href="/stock_exchanges/OMX">OMX Nordic Exchange</a></li>
                                        <li><a href="/stock_exchanges/BME">BME Spanish Exchanges</a></li>
										-->
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#0">Asia and Oceania</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Shares</a></li>
                                        <li><a href="/stock_exchanges/ASX">Australian Stock Exchange</a></li>
                                        <!--
										<li><a href="/stock_exchanges/JEG">Japan Exchange Group</a></li>
                                        <li><a href="/stock_exchanges/SSX">Shanghai Stock Exchange</a></li>
                                        <li><a href="/stock_exchanges/HKSE">Hong Kong Stock Exchange</a></li>
                                        <li><a href="/stock_exchanges/SNSE">Shenzhen Stock Exchange</a></li>
                                        <li><a href="/stock_exchanges/BSE">Bombay Stock Exchange</a></li>
                                        <li><a href="/stock_exchanges/KSE">Korea Exchange</a></li>
                                        <li><a href="/stock_exchanges/TSE">Taiwan Stock Exchange</a></li>
										-->
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#0">Africa</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Shares</a></li>
										<!--
                                        <li><a href="/stock_exchanges/JSE">JSE Limited</a></li>
										-->
                                    </ul>
                                </li>
                            </ul>
                            
                        </li>
                        
                        
                        <!--
                        <li class="has-children">
                            <a href="#0">Commodities</a>

                            <ul class="cd-secondary-dropdown is-hidden">
                                <li class="go-back"><a href="#0">Menu</a></li>
                                <li class="see-all"><a href="#0">All Commodities</a></li>
                                <li class="has-children">
                                    <a href="">Energy</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Energy Commodities</a></li>
                                        <li><a href="">Crude Oil</a></li>
                                        <li><a href="">Ethanol</a></li>
                                        <li><a href="">Natural Gas</a></li>
                                        <li><a href="">Heating Oil</a></li>
                                        <li><a href="">Propane</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Metals</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Metal Commodities</a></li>
                                        <li><a href="">Gold</a></li>
                                        <li><a href="">Silver</a></li>
                                        <li><a href="">Copper</a></li>
                                        <li><a href="">Lead</a></li>
                                        <li><a href="">Tin</a></li>
                                        <li><a href="">Aluminium</a></li>
                                        <li><a href="">Platinum</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Agriculture</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Agriculture Commodities</a></li>
                                        <li><a href="">Wheat</a></li>
                                        <li><a href="">Corn</a></li>
                                        <li><a href="">Soybeans</a></li>
                                        <li><a href="">Live Cattle</a></li>
                                        <li><a href="">Sugar</a></li>
                                        <li><a href="">Cotton</a></li>
                                        <li><a href="">Rice</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Other</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Other Commodities</a></li>
                                        <li><a href="">Cattle</a></li>
                                        <li><a href="">Silicone</a></li>
                                    </ul>
                                </li>
                            </ul>
                            
                        </li>
                        
                        
                        
                        <li class="has-children">
                            <a href="#0">Currencies</a>    
                            
                            <ul class="cd-secondary-dropdown is-hidden">
                                <li class="go-back"><a href="#0">Menu</a></li>
                                <li class="see-all"><a href="#0">All Currencies</a></li>
                                <li class="has-children">
                                    <a href="">Americas</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All American Currencies</a></li>
                                        <li><a href="">USD</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Europe</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All European Currencies</a></li>
                                        <li><a href="">Euro</a></li>
                                        <li><a href="">Pound</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Asia and Oceania</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Asian Currencies</a></li>
                                        <li><a href="">Yen</a></li>
                                        <li><a href="">AUD</a></li>
                                        <li><a href="">Dong</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Africa</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All African Currencies</a></li>
                                        
                                    </ul>
                                </li>
                            </ul>
                        </li>



                        <li class="has-children">
                            <a href="#0">Derivatives</a>    
                            
                            <ul class="cd-secondary-dropdown is-hidden">
                                <li class="go-back"><a href="#0">Menu</a></li>
                                <li class="see-all"><a href="#0">All Derivatives</a></li>
                                <li class="has-children">
                                    <a href="">Americas</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All American Currencies</a></li>
                                        <li><a href="">USD</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Europe</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All European Currencies</a></li>
                                        <li><a href="">Euro</a></li>
                                        <li><a href="">Pound</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Asia</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Asian Currencies</a></li>
                                        <li><a href="">Yen</a></li>
                                        <li><a href="">Dong</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Other</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Other Currencies</a></li>
                                        <li><a href="">AUD</a></li>
                                    </ul>
                                </li>
                            </ul>  
                        </li>



                        <li class="has-children">
                            <a href="#0">Government Bonds</a>    
                            
                            <ul class="cd-secondary-dropdown is-hidden">
                                <li class="go-back"><a href="#0">Menu</a></li>
                                <li class="see-all"><a href="#0">All Government Bonds</a></li>
                                <li class="has-children">
                                    <a href="">Americas</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All American Currencies</a></li>
                                        <li><a href="">USD</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Europe</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All European Currencies</a></li>
                                        <li><a href="">Euro</a></li>
                                        <li><a href="">Pound</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Asia</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Asian Currencies</a></li>
                                        <li><a href="">Yen</a></li>
                                        <li><a href="">Dong</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Other</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Other Currencies</a></li>
                                        <li><a href="">AUD</a></li>
                                    </ul>
                                </li>
                            </ul> 
                            
                        </li> 
                        
                        
                        
                        <li class="has-children">
                            <a href="#0">Corporate Bonds</a>    
                            
                            <ul class="cd-secondary-dropdown is-hidden">
                                <li class="go-back"><a href="#0">Menu</a></li>
                                <li class="see-all"><a href="#0">All Corporate Bonds</a></li>
                                <li class="has-children">
                                    <a href="">Americas</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All American Currencies</a></li>
                                        <li><a href="">USD</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Europe</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All European Currencies</a></li>
                                        <li><a href="">Euro</a></li>
                                        <li><a href="">Pound</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Asia</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Asian Currencies</a></li>
                                        <li><a href="">Yen</a></li>
                                        <li><a href="">Dong</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Other</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Other Currencies</a></li>
                                        <li><a href="">AUD</a></li>
                                    </ul>
                                </li>
                            </ul> 
                            
                        </li> 
                        
                        
                        
                        <li class="has-children">
                            <a href="#0">ETFs</a>    
                            
                            <ul class="cd-secondary-dropdown is-hidden">
                                <li class="go-back"><a href="#0">Menu</a></li>
                                <li class="see-all"><a href="#0">All ETFs</a></li>
                                <li class="has-children">
                                    <a href="">Americas</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All American Currencies</a></li>
                                        <li><a href="">USD</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Europe</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All European Currencies</a></li>
                                        <li><a href="">Euro</a></li>
                                        <li><a href="">Pound</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Asia</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Asian Currencies</a></li>
                                        <li><a href="">Yen</a></li>
                                        <li><a href="">Dong</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Other</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Other Currencies</a></li>
                                        <li><a href="">AUD</a></li>
                                    </ul>
                                </li>
                            </ul> 
                            
                        </li> 
                        
                        
                        
                        <li class="has-children">
                            <a href="#0">Term Deposits</a>    
                            
                            <ul class="cd-secondary-dropdown is-hidden">
                                <li class="go-back"><a href="#0">Menu</a></li>
                                <li class="see-all"><a href="#0">All Term Deposits</a></li>
                                <li class="has-children">
                                    <a href="">Americas</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All American Currencies</a></li>
                                        <li><a href="">USD</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Europe</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All European Currencies</a></li>
                                        <li><a href="">Euro</a></li>
                                        <li><a href="">Pound</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Asia</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Asian Currencies</a></li>
                                        <li><a href="">Yen</a></li>
                                        <li><a href="">Dong</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Other</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Other Currencies</a></li>
                                        <li><a href="">AUD</a></li>
                                    </ul>
                                </li>
                            </ul>
                            
                        </li> 
                        
                        
                        
                        <li class="has-children">
                            <a href="#0">Alternative Currencies</a>
                            
                            <ul class="cd-secondary-dropdown is-hidden">
                                <li class="go-back"><a href="#0">Menu</a></li>
                                <li class="see-all"><a href="#0">All Alternative Currencies</a></li>
                                <li class="has-children">
                                    <a href="">Americas</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All American Currencies</a></li>
                                        <li><a href="">USD</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Europe</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All European Currencies</a></li>
                                        <li><a href="">Euro</a></li>
                                        <li><a href="">Pound</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Asia</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Asian Currencies</a></li>
                                        <li><a href="">Yen</a></li>
                                        <li><a href="">Dong</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="">Other</a>

                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Commodities</a></li>
                                        <li class="see-all"><a href="">All Other Currencies</a></li>
                                        <li><a href="">AUD</a></li>
                                    </ul>
                                </li>
                            </ul> 
                            
                        </li> 
                        
                        -->
                        <li class="cd-divider">Community</li>
						<li><a href="/news">News</a></li>
                        <!--<li><a href="/forum">Forum</a></li>-->
                        
                    </ul> <!-- .cd-dropdown-content -->
                </nav> <!-- .cd-dropdown -->
            </div> <!-- .cd-dropdown-wrapper -->
            
            <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
            
            <div class="search-bar">
                <form>
                    <input type="text" placeholder="Search">
                    <!-- <input type="submit" value="Go"> -->
                </form>
            </div>
        </header>